$heading-1: 700 26px/33px $font-family-heading;
$heading-2: 400 16px/20px $font-family-heading;

$body: 400 16px/19px $font-family-body;
$body-small: 400 14px/17px $font-family-body;

$body-bold: 700 16px/19px $font-family-body;